<form action="/">
	<div class="form-group">
		<label for="id">Id</label>
		<input class="form-control" id="id" type="text" id="id" ng-model="sheetdatas.id" placeholder="No id ?!" disabled>
	</div>
	<div class="form-group">
		<label for="name">Name</label>
		<input class="form-control" id="name" type="text" ng-model="sheetdatas.name" placeholder="Stat sheet's name">
	</div>
	<fiedset>
		<div class="row">
			<div class="col-xs-12 col-lg-6">
				<div class="form-group">
					<label for="nb_periods">Number of periods</label>
					<input type="number" class="form-control" id="nb_periods" ng-model="sheetdatas.nb_periods" placeholder="4">
				</div>
			</div>
			<div class="col-xs-12 col-lg-6">
				<div class="form-group">
					<label for="periods_time">Length of each periode</label>
					<div class="input-group">
						<input type="number" class="form-control" id="periods_time" ng-model="sheetdatas.periods_time" placeholder="10">
						<div class="input-group-addon">minutes</div>
		   			</div>
				</div>
			</div>
		</div>
	</fieldset>
	<button type="submit" class="btn btn-default" ng-click="save()">Submit</button>
</form>