<div id="game-layout">
	
	<!-- Scoreboard -->
	<div ng-controller="Scoreboard" class="scoreboard">
		<div>
			{{gamedatas.name}}
			<h4>Team: <strong>{{team.name}} <span style="color:{{team.color}}">■</span></strong></h4>
		</div>
		<div>
			Score
			<h4><strong>{{gamedatas.teams[0].score}}</strong> - {{gamedatas.teams[1].score}}</h4>
		</div>
		<div class="text-right">
			<a ui-sref="gameconfig({gameId:gamedatas.id})">Edit</a> - <a ui-sref="home">Close</a>		
		</div>
	</div>

	<div class="panels">
		<div class="panels-wrapper" style="margin-left:-{{gametab}}00%;">

			<!-- PlayEditor -->
			<play-editor class="gametabs-anim"></play-editor>

			<!-- PlayByPlay -->
			<play-by-play class="gametabs-anim"></play-by-play>
			
			<!-- ScoreBox -->
			<score-box class="gametabs-anim"></score-box>

		</div>
	</div>
	
	<!-- panel navigation -->
	<footer class="footer">
			<a ng-class="{active:(gametab===0)}" ng-click="gametab=0">Recorder</a>
			<a ng-class="{active:(gametab===1)}" ng-click="gametab=1">Play-by-Play</a>
			<a ng-class="{active:(gametab===2)}" ng-click="gametab=2">Scorebox</a>
    </footer>

</div>