<div id="game-layout">
	
	<!-- Scoreboard -->
	<div ng-controller="Scoreboard" class="scoreboard">
		<div>
			<h3>
				Game: {{gamedatas.name}}
				<br><small>Team: {{team.name}} - <span style="color:{{team.color}}">■</span></small>
			</h3>
			<small><a ui-sref="gameconfig({gameId:gamedatas.id})" class="text-muted">Edit</a> - <a  ui-sref="home" class="text-muted">Close</a></small>
		</div>
		<div>
			<h1 class="text-center">
				<small>{{gamedatas.chrono.curr_period | chronoPeriod}}</small><br><strong>{{gamedatas.chrono.curr_time | chronoTime}}</strong>
			</h1>
		</div>
		<div class="text-center">
			<h1>
				<small>Score</small><br>{{gamedatas.teams[0].score}} - {{gamedatas.teams[1].score}}
			</h1>
		</div>
	</div>

	<div class="panels">
		<div class="panels-wrapper" style="margin-left:-{{gametab}}00%">

			<!-- PlayEditor -->
			<play-editor ng-init="init(0)"></play-editor>

			<!-- PlayByPlay -->
			<play-by-play></play-by-play>
			
			<!-- ScoreBox -->
			<score-box></score-box>

		</div>
	</div>
	
	<!-- panel navigation -->
	<footer class="footer">
			<a ng-class="{active:(gametab==0)}" ng-click="gametab = 0">Recorder</a>
			<a ng-class="{active:(gametab==1)}" ng-click="gametab = 1">Play-by-Play</a>
			<a ng-class="{active:(gametab==2)}" ng-click="gametab = 2">Scorebox</a>
    </footer>

</div>