<div class="playeditor">
<small>{{GameDatasFact.playbyplay}}</small>

		<!-- Edit Play -->
		<div class="playeditor__ui">

			<!-- Preview play -->
			<div class="playeditor__preview">
				<span>Preview: </span>				
				<!-- action -->			
				<span ng-show="recorder.play[0].playerid">{{recorder.play[0] | playByPlayPreview}}</span>
				<a ng-click="resetPlay()" ng-show="recorder.play[0].playerid && !recorder.play[0].action && !recorder.play[1]" class="button tiny secondary">&times;</a>
				<a ng-click="resetAction()" ng-show="recorder.play[0].action && !recorder.play[1]" class="button tiny secondary">&times;</a>
				<!-- addaction -->
				<span ng-show="recorder.play[1]">{{recorder.play[1] | playByPlayPreview}}</span>
				<a ng-click="removeAddAction()" ng-show="recorder.play.length===2" class="button tiny secondary">&times;</a>
				<!-- save cancel -->
				<ul class="button-group">
					<li><a ng-click="savePlay()" ng-show="playIsSavable()" class="button tiny success">Save</a></li>
					<li><a ng-click="resetPlay()" ng-show="recorder.play[0]" class="button tiny secondary">Cancel</a></li>
				</ul>
			</div>
			
			<!-- Players -->
			<div class="playeditor-players" ng-show="showplayers()">
				<h5>Players:</h5>
				<div class="players-list">
					<a ng-repeat="(id, player) in playingplayers = (team.players | getCourtPlayers)" ng-click="playInsert(player)" ng-class="{'item--selected':player.id==recorder.play[0].playerid}" class="item">
						<strong>{{player.name}}</strong><span>{{player.number}}</span>
					</a>
					<a class="item item--empty" ng-repeat="i in getEmptyPlayersSpots() track by $index" ng-click="addStarter()"><span>+</span></a>
					<a class="item item--opponent" ng-click="playInsert(opponent)" ng-class="{'item--selected':recorder.play[0].playerid=='opp'}"><strong>Opp. scores</strong></a>
				</div>
			</div>
			
			<!-- Actions -->
			<div class="playeditor-actions" ng-show="showactions()">
				<h5>Actions:</h5>
				<div class="actions-list">				
					<a ng-repeat="action in actionsdata.base" ng-click="selectAction(action)" ng-class="{'item--selected':action.id===recorder.play[0].action.id}" class="item">{{actionsdata.dictio[action.id].btnlabel}}</a>
					<a ng-show="benchplayers.length>0" ng-click="substitution()" class="item">Subs</a>
				</div>
			</div>
			
			<!-- Subactions -->
			<div class="playeditor-subactions" ng-show="showsubactions()">
				<div ng-repeat="(code, subactions) in actionsdata.subactions" ng-show="recorder.ui.subaction===code">
					<h5>Shot :</h5>
					<div class="actions-list">
						<a ng-repeat="action in subactions" ng-click="selectSubAction(action)" ng-class="{'item--selected':action.id===recorder.play[0].action.id}" class="item">{{actionsdata.dictio[action.id].btnlabel}}</a>
					</div>
				</div>
			</div>

			<!-- Addactions -->
			<div class="playeditor-addactions" ng-show="showaddactions()">
				<div ng-repeat="(code, addactions) in actionsdata.addactions" ng-show="recorder.ui.addaction===code">
					<div ng-repeat="action in addactions">
						<h5>{{actionsdata.dictio[action.id].btnlabel}}?</h5>
						<div class="players-list">
							<a ng-repeat="(id, player) in playingplayers = (team.players | getCourtPlayers)" ng-click="selectAddPlayerAction(player, action)" ng-hide="player==recorder.play[0].player" ng-class="{'item--selected':recorder.play[1].playerid===player.id}" class="item">
								<strong>{{player.name}}</strong><span>{{player.number}}</span>
							</a>
						</div>
					</div>
				</div>
			</div>

			<!-- opponentactions -->
			<div ng-show="recorder.ui.oppaction">
				<h5>Opponent scores?</h5>
				<div class="actions-list">
					<a ng-repeat="action in actionsdata.opponentactions" ng-click="selectOpponentAction(action)" ng-class="{'item--selected':recorder.play[0].action.id===action.id}" class="item">{{actionsdata.dictio[action.id].btnlabel}}</a>
				</div>
			</div>

			<!-- bench modal -->
			<div id="bench" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
			  	<h2 id="modalTitle">Bench</h2>
			  	<p class="lead">Your couch.  It is mine.</p>
	  			<div class="players-list">
					<a class="player" ng-repeat="(index, player) in benchplayers = (team.players | getBenchPlayers)" ng-click="selectBenchPlayer(player)">
						<strong>{{player.name}}</strong><span>{{player.number}}</span>
					</a>
					<p ng-hide="benchplayers.length">No player on the bench</p>
				</div>
			  	<a class="close-reveal-modal" aria-label="Close">&#215;</a>
			</div>
		
		</div>

		<div class="playeditor__chrono">

			<!-- Chrono -->
			<div ng-controller="Chrono">

				<div class="alert alert-danger" role="alert" ng-show="!gamestarted && !playersready">
					Select 5 players from the bench
				</div>

				<a class="button success large expand" ng-click="nextPeriod()" ng-show="!gamestarted" ng-disabled="!playersready">Start the game</a>

				<div ng-show="gamestarted" class="text-center">

					<h3>
						<small>{{gamedatas.chrono.curr_period | chronoPeriod}}</small><br><strong>{{gamedatas.chrono.curr_time | chronoTime}}</strong>
					</h3>
					
					<!-- between periods -->
					<a class="btn btn-default btn-sm" ng-show="!periodisrunning" ng-click="nextPeriod()">{{gamedatas.chrono.curr_period | chronoGotoNextPeriod}}</a>
					<!-- play / stop -->
					<div ng-show="periodisrunning">			
						<a class="button large expand" ng-show="!clockisrunning" ng-click="play()">Play</a>
						<a class="button large expand" ng-show="clockisrunning" ng-click="stop()">Stop</a>
					</div>
				</div>
			</div>

		</div>
</div>