	<div class="page-header">
		<h1>{{gamedatas.name}}</h1>
		<a href="#/gameconfig/{{gamedatas.id}}" class="text-muted">Edit</a> - <a href="#/" class="text-muted">Close</a>
	</div>

	<!-- Chrono -->
	<div ng-controller="Chrono" >
	{{ test }}
		<div class="alert alert-danger" role="alert" ng-show="!gamestarted && !playersready">
			Select 5 players from the bench
		</div>
		
		<div class="jumbotron">
			<a class="btn btn-primary btn-sm" ng-click="nextPeriod()" ng-show="!gamestarted" ng-disabled="!playersready">Start the game</a>
			<div ng-show="gamestarted">
				<h2>
					<span class="muted">{{gamedatas.chrono.curr_period | chronoPeriod}}</span> : <strong>{{gamedatas.chrono.curr_time | chronoTime}}</strong>
				</h2>
				{{gamedatas.chrono.total_time}}
				<!-- between periods -->
					<a class="btn btn-default btn-sm" ng-show="!periodisrunning" ng-click="nextPeriod()">{{gamedatas.chrono.curr_period | chronoGotoNextPeriod}}</a>
				<!-- play / stop -->
				<div ng-show="periodisrunning">			
					<a class="btn btn-default btn-sm" ng-show="!clockisrunning" ng-click="play()">Play</a>
					<a class="btn btn-default btn-sm" ng-show="clockisrunning" ng-click="stop()">Stop</a>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Plays -->
	<div ng-controller="Plays" ng-init="init(0)">
		<h4>Team : {{team.name}} - <span style="color:{{team.color}}">■</span></h4>
		<h4>players playing : </h4>

		<!-- players -->
		<div class="players-list">
			<a class="player" ng-show="play.time" ng-click="resetPlay()"><span>&times;</span></a>
			<a class="player" ng-class="{selected:play.player.id===player.id}" ng-show="play.time === null || play.player.id===player.id" ng-repeat="(id, player) in playingplayers = (team.players | getCourtPlayers)" ng-click="selectPlayer(player)">
				<strong>{{player.name}}</strong><span>{{player.number}}</span>
			</a>
			<a class="player" ng-repeat="i in getEmptyPlayersSpots() track by $index" ng-click="showBench()"><span>+</span></a>
		</div>

		<!-- play -->
		<div class="plays-list" ng-show="play.time">
			<div ng-show="play.action===null">
				<a ng-repeat="act in gamedatas.actions.base" ng-click="selectAction(act.code, act.subactions)">{{act.label}}</a>
				<a ng-show="benchplayers.length>0" ng-click="playSubstitution()">Subs</a>
			</div>
			<div ng-repeat="(code, subs) in gamedatas.actions.subs" ng-show="play.action==code">
				<a ng-repeat="act in subs" ng-click="selectAction(act.code, false)">{{act.label}}</a>
			</div>
		</div>

		<!-- bench modal -->
		<div class="modal fade" id="bench">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">Banch</h4>
					</div>
					<div class="modal-body">
						<div class="players-list">
							<a class="player" ng-repeat="(index, player) in benchplayers = (team.players | getBenchPlayers)" ng-click="selectPlayerFromBench(player)">
								<strong>{{player.name}}</strong><span>{{player.number}}</span>
							</a>
							<p ng-hide="benchplayers.length">No player on the bench</p>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<!-- Play By Play -->
	<div ng-controller="Output" id="outputs">
		<ul class="nav nav-tabs">
		    <li class="active"><a show-tab href="#play-by-play">Play-by-play</a></li>
		    <li><a show-tab href="#boxscore">Box score</a></li>
		</ul>
		<div class="tab-content">
    		<div class="tab-pane active" id="play-by-play">
				<div ng-repeat="play in plays | reverse">
					<span class="text-muted">{{play.curr_period | chronoPeriod}} - {{play.curr_time | chronoTime}} </span>
					{{play.playerid | playerFromPid}} : <strong>{{play.action}}</strong>
				</div>
			</div>
    		<div class="tab-pane" id="boxscore">
				<table class="table table-condensed table-bordered table-striped">
					<thead>
						<tr class="headrange">
							<td colspan="2"></td>
							<td colspan="3">Field goals</td>
							<td></td>
							<td colspan="3">Rebounds</td>
							<td colspan="6"></td>
						</tr>
						<tr>
							<td></td>
							<td>Min</td>
							<td>FgM-A</td>
							<td>3pM-A</td>
							<td>FtM-A</td>
							<td>+/-</td>
							<td>Off</td>
							<td>Def</td>
							<td>Tot</td>
							<td>Ast</td>
							<td>Pf</td>
							<td>St</td>
							<td>To</td>
							<td>Blk</td>
							<td>Pts</td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="player in gamedatas.teams[0].players">
							<td>{{player.name}}</td>
							<td>{{stats[player.id].playingtime | statsPlayingMinutes}}</td>
							<td>{{stats[player.id].fgm2}} - {{stats[player.id].fga2}}</td>
							<td>{{stats[player.id].fgm3}} - {{stats[player.id].fga3}}</td>
							<td>{{stats[player.id].ftm}} - {{stats[player.id].fta}}</td>
							<td></td>
							<td>{{stats[player.id].reboff}}</td>
							<td>{{stats[player.id].rebdef}}</td>
							<td>{{stats[player.id].reboff + stats[player.id].rebdef}}</td>
							<td>{{stats[player.id].ast}}</td>
							<td>{{stats[player.id].f}}</td>
							<td>{{stats[player.id].st}}</td>
							<td>{{stats[player.id].to}}</td>
							<td>{{stats[player.id].blk}}</td>
							<td>{{stats[player.id].pts}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</ul>
	</div>