.itemlist {
	margin-bottom:rem-calc(20);
	border-top: solid 4px $smoke;
	> div {
		padding:5px 0;
		border-bottom: solid 1px $smoke;
	}
	.button-group {
		&, .button { margin:0; }
	}
	&--play-by-play {
		font-size:12px;
		.time {color:$small-font-color;}
		.scored {
			font-weight:bold;
			background-color:scale-color($success-color, $lightness: 90%);
		}
		.outscored {
			color:$small-font-color;
			background-color:scale-color($alert-color, $lightness: 90%);
		}
	}
}