.footer {	
  background-color:$smoke;
  a {
  	text-decoration: none;
  	text-align:center;
    &:hover, &:focus {
      background-color:$iron;
    }
  	&.active {
  		&, &:hover, &:focus { background-color:$primary-color; }
  		&, &:hover, &:focus { color:white; }
  	}
  }
}