$lvlpanels:1;
$lvlchrono:2;
$lvlui:3;


$padding:10px;

html, body
{
    width: 100%;
    height: 100%;
    
    margin: 0;
    padding: 0;
}

#game-layout {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;    
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;



  .scoreboard {
    display:flex;
    flex-direction: row;
    align-items: stretch;
    align-content: stretch;
    justify-content: flex-start;
    width: 100%;

    > div {
      flex-grow:1;
      padding:$padding;
    }

  }
  .footer {
    display:flex;
    flex-direction: row;
    align-items: stretch;
    align-content: stretch;
    justify-content: flex-start;
    width: 100%;
    > a {
      flex-grow:1;
      /*height:50px;*/
      padding:$padding;
    }
  }

  .panels {
    overflow:hidden;
    overflow-y:auto;
    flex: 1;
      display:flex;
      flex-direction: column;
      align-items: stretch;
      align-content: stretch;
      justify-content: flex-start;
    .panels-wrapper { 
      flex: 1;
      display:flex;
      flex-direction: column;
      align-items: stretch;
      align-content: stretch;
      justify-content: flex-start;
      overflow:hidden;   
      width: 100%;
      > * {
        overflow:auto;
        display:flex;
        flex:1;
        flex-direction: column;
        align-items: stretch;
        align-content: stretch;
        justify-content: flex-start;
      }
    }
  }
  .playeditor {
    flex: 1;
    min-height:100%;
    display:flex;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
    justify-content: flex-start;
    
    .playeditor__ui {
      overflow:auto;
      flex:3;
    }
    .playeditor__chrono {
      flex:1;
      padding:$padding;
      background-color:rgba(0,0,0,.02);
    }
    @media all and (orientation:landscape) {
      flex-direction: row;
      .playeditor__ui {
        flex:3;
      }
      .playeditor__chrono {
        flex:1;
      }
    }

  }

  .play-by-play, .scorebox {    
    flex: 1;
    padding:$padding;
  }

}