
.playeditor__chrono {
    position:relative;
    z-index:1;
    padding:0;margin:0;
    h1, h2, h3, h4, h5, h6 {
        margin:0;
    }
    background-color:$snow;
    box-shadow: 0 -1px 3px rgba(0,0,0,0.075);
}

.playeditor__preview {
    position:relative;
    z-index:2;
    padding:5px;
    text-align:center;
    background-color:$snow;
    box-shadow: 0 1px 3px rgba(0,0,0,0.075);
    flex-basis:90px;
    .preview__play {
        font-size:$small-font-size;
    }
}
.playeditor__step {
    position:relative;
    z-index:1;
    h5 { 
        margin:10px 0 3px;
        padding:5px;
        text-align: center;
    }
}
.playeditor-list {
    margin:0;
    padding:0;
    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    align-items: stretch;
    align-content: stretch;
    justify-content: center;
    > .item {
        flex : 1;
        flex-basis: 33%;
        height:80px;
    	padding:$padding;
    	font-size:12px;
        font-weight:bold;
    	text-align:center;
	    border:solid 5px white;
	    background-color:$smoke;
		
        &--player {
            > span {
                display:block;
                font-size:20px;

            }
        }
        &--action {
            font-size:16px;
        }
	    &--oppplayer {
	    	/*flex:1;*/
	    }
		&--selected {
			border-color:blue;
		}
    }
}

.actions-list {
    .item {
    	flex-grow:3;
        padding:$padding;
    	font-size:14px;
    }
}

.scorebox table {
    width:100%;
}