.playeditor__preview {
    padding:5px;
    background-color:$white-smoke;
    line-height:2rem;
    > * { display:inline-block; margin-right:1rem; }
    .button { margin-bottom:0; }
}
.playeditor__ui {
    padding:$padding;
}

.players-list, .actions-list {
	display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    align-items: stretch;
    align-content: stretch;
    justify-content: flex-start;
    width: 100%;
    .item {
    	flex:5;
    	padding:$padding*.5;
    	font-size:12px;
    	text-align:center;
	    border:solid 5px white;
	    background-color:$smoke;
		> span {
			display:block;
			font-size:20px;
		}
	    &--opponent {
	    	flex:4;
	    }
		&--selected {
			border-color:blue;
		}
    }
}

.actions-list {
    .item {
    	flex-grow:3;
        padding:$padding;
    	font-size:14px;
    }
}

.scorebox table {
    width:100%;
}