.action { 
	display:inline-block;
	vertical-align:top;
	width:10%;
	min-height:70px;
	margin:0 5px 5px 0;
	font-size:14px;
	text-align:center;
	padding:10px;
	border:solid 5px #efefef;
	&.selected {
		border-color:blue;
	}
}